<html>
  <head>
    <title>{{ name }}</title>
  </head>
  <style>
    body {
      background-color: rgb(38, 204, 255);}
    h1 {
      text-shadow: 3px 2px rgba(255, 255, 255, 0.603);
      text-align: center;
      color: crimson;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  </style>
  <body>
    <h1>{{ name }}</h1>
    <table align="center">
      {% if rows %}
      <tr>
        {% for name in rows[0].keys() %}
          <th>{{ name }}</th>
        {% endfor %}
      <tr>
      {% endif %}
      {% for row in rows %}
      <tr>
        {% for col in row.values() %}
          <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
